{lib_dirs, ["deps"]}.

{erl_opts, [
  debug_info,
  warn_export_all,
  warn_unused_import,
  {i, "include"},
  {src_dirs, ["src"]}]}.

{cover_enabled, true}.

{deps, [
  {ibrowse, "4.1.*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.2"}}},
  {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.6.0"}}},
  {apns, ".*", {git, "git://github.com/inaka/apns4erl.git", master}}
]}.
